:root {
  --main-bg-color: #2c2b2a;
  --text-color: #ffffff;
}

.OpeningBar {
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
  background-color:var(--main-bg-color);
  position: absolute;
  border-radius: 5px;
  height: 800px;
  width: 350px;
  top: 42.5px;
  left: 1400px;
  opacity: 1;
  overflow-y: auto;
  color: #ffffff;
}

.OpeningBar button {
  margin-left: 120px;
}
